<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/echarts.min.js' %}"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'Entry_FW:index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          {% comment %} <i class="fas fa-laugh-wink"></i> {% endcomment %}
          <img class="virs_icon" src="{% static 'img/covid-virs2.png' %}" width="100%%" border-left="-20px" alt="">
        </div>
        <div class="sidebar-brand-text mx-2"> COVID-19 </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - 主页 -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'Entry_FW:index' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>主页</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        知识图谱
      </div>

      {% comment %} 对知识图谱的项目进行细分 {% endcomment %}
      {% for proj in projects %}
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}"
          aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
          <i class="fas fa-fw {{ proj.0.1 }}"></i>
          <span>{{ proj.0.0 }}</span>
        </a>
        <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="headingTwo"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            {% comment %} <h6 class="collapse-header">Custom Components:</h6> {% endcomment %}
            {% for work,url in proj.1.items %}
            <a class="collapse-item container-update" href="JavaScript:;" data-url="{{ url }}">{{ work }}</a>
            {% endfor %}
          </div>
        </div>
      </li>
      {% endfor %}

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        实时疫情
      </div>

      {% for item in rt_info %}
      <li class="nav-item">
        <a class="nav-link container-update" href="JavaScript:;" data-url={{ item.2 }}>
          <i class="fas fa-fw  {{ item.1 }}"></i>
          <span>{{ item.0 }}</span>
        </a>
      </li>
      {% endfor %}

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% comment %} <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          {% endcomment %}
          <nav class="navbar navbar-expand navbar-light bg-white mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            {% comment %} <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button> {% endcomment %}

            {% comment %}
            <!-- Topbar Search -->
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                  aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form> {% endcomment %}

            {% comment %} 用户登录部分，这里不加以显示
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                  aria-labelledby="searchDropdown">
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                        aria-label="Search" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-bell fa-fw"></i>
                  <!-- Counter - Alerts -->
                  <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="alertsDropdown">
                  <h6 class="dropdown-header">
                    Alerts Center
                  </h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 12, 2019</div>
                      <span class="font-weight-bold">A new monthly report is ready to download!</span>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-success">
                        <i class="fas fa-donate text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 7, 2019</div>
                      $290.29 has been deposited into your account!
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-warning">
                        <i class="fas fa-exclamation-triangle text-white"></i>
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 2, 2019</div>
                      Spending Alert: We've noticed unusually high spending for your account.
                    </div>
                  </a>
                  <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
              </li>

              <!-- Nav Item - Messages -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-envelope fa-fw"></i>
                  <!-- Counter - Messages -->
                  <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="messagesDropdown">
                  <h6 class="dropdown-header">
                    Message Center
                  </h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                      <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                      <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                        having.</div>
                      <div class="small text-gray-500">Emily Fowler · 58m</div>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                      <div class="status-indicator"></div>
                    </div>
                    <div>
                      <div class="text-truncate">I have the photos that you ordered last month, how would you like them
                        sent to you?</div>
                      <div class="small text-gray-500">Jae Chun · 1d</div>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                      <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                      <div class="text-truncate">Last month's report looks great, I am very happy with the progress so
                        far, keep up the good work!</div>
                      <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                      <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                      <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that
                        people
                        say this to all dogs, even if they aren't good...</div>
                      <div class="small text-gray-500">Chicken the Dog · 2w</div>
                    </div>
                  </a>
                  <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                  <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>

            </ul> {% endcomment %}

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid" id="container">




            {% comment %} 用于构建研究者关系页面 {% endcomment %}
            {% load static %}

            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <div class="col-sm-3">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="check_class"> 按照分类查询
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="check_entry"> 按照实体标签查询
                  </label>
                </div>
              </div>

              <!-- Topbar Search -->
              <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                  <input id="search_input" type="text" class="form-control bg-light border-0 small"
                    placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="search_btn">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>

                </div>

              </form>

            </nav>


            <div id="searhc-tip">

            </div>


            <!-- Content Row -->

            <div class="row">

              <!-- 折线图表示 -->
              <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4" id="linechart" style="width: 100%;height: 350px;padding: 10px">
                  <!-- Card Header - Dropdown -->

                </div>

                <script>
                  var myChart = echarts.init(document.getElementById('linechart'))

                  myChart.showLoading();

                  $.getJSON("http://localhost:8000/keywordrel_data", function (data) {

                    myChart.hideLoading();

                    option = {
                      title: {
                        text: '数量变化'
                      },
                      tooltip: {
                        trigger: 'axis'
                      },
                      legend: {
                        data: ['病理分析', '疫苗研发', '治疗方法', '疫情防控'],
                        type: 'scroll',
                        bottom: 8,
                      },
                      grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '10%',
                        containLabel: true
                      },
                      // toolbox: {
                      //   feature: {
                      //     saveAsImage: {}
                      //   }
                      // },
                      xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: ['1/1', '2/1', '3/1', '4/1', '5/1', '6/1']
                      },
                      yAxis: {
                        type: 'value'
                      },
                      series: [
                        {
                          name: '病理分析',
                          type: 'line',
                          stack: '总量',
                          data: [120, 132, 101, 134, 90, 230]
                        },
                        {
                          name: '疫苗研发',
                          type: 'line',
                          stack: '总量',
                          data: [220, 182, 191, 234, 290, 330]
                        },
                        {
                          name: '治疗方法',
                          type: 'line',
                          stack: '总量',
                          data: [150, 232, 201, 154, 190, 330]
                        },
                        {
                          name: '疫情防控',
                          type: 'line',
                          stack: '总量',
                          data: [320, 332, 301, 334, 390, 330]
                        }
                      ]
                    };

                    myChart.setOption(option);

                  }
                  );

                </script>
              </div>

              <!-- Pie Chart -->
              <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">

                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="text-center">
                      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'img/co-work.jpg' %}" alt="">
                    </div>
                    <p>在当前疫情下，合作远大于竞争，共识远大于分歧。 </p>
                    <p>'这里省略一部分，待补充'</p>

                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
            <div class="row">

              <div class="col-lg-6 mb-4">

                <!-- 重要研究者示例 -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                  </div>
                  <div class="card-body">
                    <div class="text-center">
                      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="https://bkimg.cdn.bcebos.com/pic/a71ea8d3fd1f4134a1995f582a1f95cad1c85e6d?x-bce-process=image/resize,m_lfit,w_268,limit_1/format,f_jpg"
                        alt="">
                    </div>
                    <p>钟南山</p>
                    <p>中国工程院院士，著名呼吸病学专家，中国抗击非典型肺炎的领军人物</p>

                    <a target="_blank" rel="nofollow"
                      href="https://baike.baidu.com/item/%E9%92%9F%E5%8D%97%E5%B1%B1/653914?fr=aladdin">更多信息 &rarr;</a>
                  </div>
                </div>

              </div>

              <div class="col-lg-6 mb-4">

                <!-- 重要研究者示例 -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                  </div>
                  <div class="card-body">
                    <div class="text-center">
                      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="https://bkimg.cdn.bcebos.com/pic/a71ea8d3fd1f4134a1995f582a1f95cad1c85e6d?x-bce-process=image/resize,m_lfit,w_268,limit_1/format,f_jpg"
                        alt="">
                    </div>
                    <p>钟南山</p>
                    <p>中国工程院院士，著名呼吸病学专家，中国抗击非典型肺炎的领军人物</p>

                    <a target="_blank" rel="nofollow"
                      href="https://baike.baidu.com/item/%E9%92%9F%E5%8D%97%E5%B1%B1/653914?fr=aladdin">更多信息 &rarr;</a>
                  </div>
                </div>

              </div>

            </div>

            <script src="{% static 'Entry_FW/js/search_tools.js' %}"></script>




















          </div>
          <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; NJAU-College of Information & Technology 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static  'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

  <!-- Page level plugins -->
  {% comment %}
  <script src="{% static 'vendor/chart.js/Chart.min.js'%}"></script> {% endcomment %}

  <!-- Page level custom scripts -->
  {% comment %}
  <script src="{% static 'js/demo/chart-area-demo.js'%}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js'%}"></script> {% endcomment %}

  {% comment %} 用户级别的事件代码 {% endcomment %}
  {% comment %}
  <script src="{% static 'Entry_FW/js/keywordmap.js' %}" type="text/javascript"></script> {% endcomment %}
  <script src="{% static 'Entry_FW/js/sidebar.js' %}"></script>


</body>

</html>